.DS_Store
node_modules
/dist
/src/firebase/
# local env files
.env.local
.env.*.local

# python environments ignores
/venv/
/venv_*


#ignore other project folders

/3d-dl/
/cv-vision/
/ml/
/nlp/
/rl-projects/
/mastering-rl/



#ignore specific project folders
/cv-vision/cv-project-2-object-detection/ssd300_mAP_77.43_v2.pth
/cv-vision/cv-project-2-object-detection/videos/
/cv-vision/cv-project-4-smart-cropping/data/
/cv-vision/cv-project-4-smart-cropping/cropped/
/cv-vision/cv-project-2-object-detection/data/VOCdevkit

/dl/dl-project-2-cnn/dataset/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.Rproj.user

